@model ZooShop.Models.Storagees

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Storagees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Storage_name" class="control-label"></label>
                <input asp-for="Storage_name" class="form-control" />
                <span asp-validation-for="Storage_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="The_rest_of_goods" class="control-label"></label>
                <input asp-for="The_rest_of_goods" class="form-control" />
                <span asp-validation-for="The_rest_of_goods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department_id" class="control-label"></label>
                <select asp-for="Department_id" class ="form-control" asp-items="ViewBag.Department_id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

